@charset "UTF-8";

/*
   Laboratory 3.
   
   Author:  Luis Ángel Lucatero Villanueva - A01020507
            Natanael Pérez Bucio - A01371010
   Date:    09/05/2018
   
   Filename: lab4_styles.css
*/