<<<<<<< HEAD
@charset "UTF-8";

/*
   Laboratory 3.
   
   Author:  Luis Ángel Lucatero Villanueva - A01020507
            Natanael Pérez Bucio - A01371010
   Date:    09/05/2018
   
   Filename: lab4_styles.css
*/
=======
body{
    background-image: url("background.jpg");
}
>>>>>>> cbc6f9aadeaf8b47b9db3f778d6f402c442f6b79
