@charset "UTF-8";

/*
   Laboratory 3.
   
   Authors:  Luis Ángel Lucatero Villanueva A01020507
            Natanael Pérez Bucio A01371010
   Date:    08/22/2018
   
   Filename: lab3_styles.css
*/


/* Global Fonts Style */

@font-face {
    font-family: 'ChampagneFont';
    src: url('cac_champagne.tff');
    src: url('cac_champagne.woff') format('woff');
}

@font-face {
    font-family: 'DobkinPlain';
    src: url('DobkinPlain.tff');
    src: url('DobkinPlain.woff') format('woff');
}

/* Structural Styles */

header, ul, nav, li, a {
    /* content-box is default */
    box-sizing: border-box;
}

html {
    width: 95%;
    margin: auto;
}

header {
    background-color: #389AD9;
    height: 320px;
    position: relative;
}

header > div {
    position: absolute;
    width: 50%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 10px;
}

header > div > p {
    font-size: 3.5em;
    color: brown;
    margin: 0;
}

footer {
    background-color: #389AD9;
    font-family: DobkinPlain;
}

.button:hover {
    opacity: 50%;
    background-color: whitesmoke;
}

footer > p {
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding: 5px;
}

.centered-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.up-space{
    margin-top: 10px;
    position: relative;
}

body::after {
    clear: both;
    content: '';
    display: table;
}

.cutlogo {
    float: left;
    width: 70%;
    margin-right: 20px;
    height: 320px;
}

.wrap-img {
    width: 30%;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-txt {
    text-align: justify;
    color: blue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.p-box {
    float: right;
    text-align: justify;
    color: blue;
    width: 70%;
    margin-right: 30px;
}

hr {
    width: 60%;
    background-color: blue;
    height: 1px;
}

div.wrap {
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

div.wrap2 {
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.avatar {
    float: left;
    width: 20%;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
}

.listhead {
    padding-top: 5px;
}

.listhead{
    padding-top: 15px;
    padding-left: 15px;
}

.listhead > li{
    vertical-align: center;
    margin-top: 10px;
}

ul > li > a {
    text-decoration: none;
    color: white;
}

ul > li > a:hover {
    color: blue;
}

html {
    background-color: #E7BB9A;
}

body {
    background-color: #F9F1DB;
}

ul {
    list-style-type: none;
}

.wrap-img {
    height: 100px;
}

/* Navigation Styles */

.nav-header {
    background-color: #103E86;
}

nav > ul > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsla(0, 0%, 42%, 0.4);
}

nav > ul > li > a:hover {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(0, 0%, 42%, 0.7);
}
