@charset "utf-8";
/*
   Laboratory 5.
   
   Author:  Luis Ángel Lucatero Villanueva - A01020507
            Natanael Pérez Bucio - A01371010
   Date:    03/Oct/2018
   
   Filename: styles.css
*/


/* Clear styles for all devices */

article, footer, header, nav, section { 
   display: block;
}

article, body, footer, h1, header, html, img, 
li, nav, nav a, p, section, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   box-sizing: border-box; 
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

nav ul {
   list-style: none;
}

nav a {
   text-decoration: none;
}

html {
	background-color: rgb(200, 255, 200);
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
}

body {
	background-color: rgb(230, 210, 160);
	box-shadow: 15px 0px 30px rgb(51, 51, 51),
				-15px 0px 30px rgb(51, 51, 51);	
	margin: 0px auto;				   
	max-width: 1500px;
}
	
body > header {
	background: url("gp_back1.png") center center / cover no-repeat;
	text-align: center;	
	width: 100%;
}

body > header > img {
	display: inline;
	width: 70%;
	max-width: 400px;
   text-align: center;
}


/* Horizontal Navigation Styles */

nav{
	display: flex;
	height: auto;
	width: 100%;
}

nav ul {
	padding:0;
	background-color: rgb(204, 170, 45);
	text-align: center;
	width: 100%;	
	display: flex;
	height: 40px;
}

nav li {
	font-family: 'Comic Sans MS', cursive;
	font-size: 1.4em;
	line-height: 2em;
	list-style-type: none;
	display: flex;
	/*flex: 1 1 auto;*/
}

nav li a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
}

nav li a:hover, nav li a:active {
	color: white;
	background-color: rgb(51, 51, 51);
}


/* Article Styles */

article {
	padding: 10px;
}
	
article h1 {
	text-align: center;
	font-size: 1.4em;
	letter-spacing: 3px;
}

article p {
	text-align: left;
	font-size: 1.4em;
	line-height: 1.2;
	margin: 20px 0px;
}


/* Comic Book Sheet Styles */

section#comic {
	border: 1px solid rgb(101, 101, 101);
	background-color: white;
	padding: 10px 10px 0px 10px;
}	

section#comic h1 {
	font-size: 1.4em;
	text-align: center;
	letter-spacing: 3px;
	margin: 5px;
}

section#comic footer {
	text-align: center;
	width: 100%;
	clear: left;
}


/* Navigation Pages Styles */

nav#pages {
	padding-bottom: 10px;
}

nav#pages::after {
	content: "";
	display: table;
	clear: both;
}

nav#pages a {
	background-color: rgb(242, 221, 174);
	border: 1px solid rgb(101, 101, 101);
	box-shadow: rgb(51, 51, 51) 2px 2px 5px;
	display: block;
	float: left;
	margin: 4px;
	padding: 2px;
	text-align: center;
	width: 20px;
}

nav#pages a:first-of-type {
	width: 80px;
}

nav#pages a#current {
	background-color: rgb(51, 51, 51);
	color: white;
}


/* Comic Image Panel Styles */

img.panel {
   float: left;
   display: block;
}


/* Body Footer Styles */

body > footer {
	color: white;
	background-color: rgb(51, 51, 51);
	text-align: center;
	line-height: 2em;
	width: 100%;	
}


/* Flex Layout Styles */

body {
    display:flex;
    flex-flow: row wrap;
    flex-direction:row;
}

body > #comic {
    flex: 3 1 301px;
 }
 
body > article{
    flex: 0 3 160px;
 }
 
footer{
    display:flex; 
}


/* Mobile Devices: 0 - 481 pixels */

@media only screen and (max-width: 481px) {
    img.panel { 
        width:100%; 
    }

    nav {
		order:99;
	}

	nav > ul > li{
		width: 100%;
	}

	.col-menu{
		width: 100%;
	}

    #comic > footer {
        order:100;
	}
	
	footer{
		order: 100;
	}
}


/* Only for screens greater than 481 pixels */

@media only screen and (min-width: 481px ) { 

    nav ul {
        display:flex;
        flex-direction:row;      
        flex-flow: row nowrap;
        height:40px;
    }

    nav > ul >  li {
        display:flex;
        flex: 1 1 auto;
    }

    #comic {
        display:flex;
        flex-direction:row;      
        flex-flow: row wrap;
        height:40px; 
    }
    
    img.panel {
        display: flex; 
    }    
    
    img.size1 { 
        width: 100%; 
    }

    img.size2 {
        flex: 60%; 
    }

    img.size3 {
        flex: 40%; 
    }

    img.size4 {
        flex: 30%; 
    }

}