@charset "utf-8";
/*
   Laboratory 5.
   
   Author:  Luis Ángel Lucatero Villanueva - A01020507
            Natanael Pérez Bucio - A01371010
   Date:    03/Oct/2018
   
   Filename: styles.css
*/

/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}



/* =============================================
	Base styles used by All Screens
   =============================================
*/


html {
	background-color: rgb(211, 255, 211);
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
}

body {
	background-color: rgb(242, 221, 174);
	box-shadow: 15px 0px 30px rgb(51, 51, 51),
				-15px 0px 30px rgb(51, 51, 51);	
	margin: 0px auto;				   
	max-width: 1024px;
}
	
body > header {
	background: url("gp_back1.png") center center / cover no-repeat;
	text-align: center;	
	width: 100%;
}

body > header > img {
	display: inline;
	width: 70%;
	max-width: 400px;
   text-align: center;
}


/* Horizontal Navigation Styles */

nav.horizontal {
	height: auto;
	width: 100%;
}

nav.horizontal ul {
	background-color: rgb(212, 175, 55);
	text-align: center;
	width: 100%;	
}


nav.horizontal li {
	font-family: 'Comic Sans MS', cursive; 
	font-size: 1.4em;
	line-height: 2em;
	list-style-type: none;	
	width: 100%;
}

nav.horizontal li a {
	color: black;
	display: block;
	width: 100%;
}

nav.horizontal li a:hover, nav.horizontal li a:active {
	color: white;
	background-color: rgb(51, 51, 51);
}

/* Article Styles */

article {
	padding: 10px;
}
	
article h1 {
	text-align: center;
	font-size: 1.4em;
	letter-spacing: 3px;
}

article p {
	font-size: 1.4em;
	line-height: 1.2;
	margin: 20px 0px;
}


/* Comic Book Sheet Styles */

section#sheet {
	border: 1px solid rgb(101, 101, 101);
	background-color: white;
	padding: 10px 10px 0px 10px;
}	

section#sheet h1 {
	font-size: 1.4em;
	text-align: center;
	letter-spacing: 3px;
	margin: 5px;
}

section#sheet footer {
	text-align: center;
	width: 100%;
	clear: left;
}


/* Navigation Pages Styles */

nav#pages {
	padding-bottom: 10px;
}

nav#pages::after {
	content: "";
	display: table;
	clear: both;
}

nav#pages a {
	background-color: rgb(242, 221, 174);
	border: 1px solid rgb(101, 101, 101);
	box-shadow: rgb(51, 51, 51) 2px 2px 5px;
	display: block;
	float: left;
	margin: 4px;
	padding: 2px;
	text-align: center;
	width: 20px;
}

nav#pages a:first-of-type {
	width: 80px;
}

nav#pages a#current {
	background-color: rgb(51, 51, 51);
	color: white;
}

/* Comic Image Panel Styles */

img.panel {
   float: left;
   display: block;
}


/* Body Footer Styles */

body > footer {
	color: white;
	background-color: rgb(51, 51, 51);
	text-align: center;
	line-height: 2em;
	width: 100%;	
}



/* Flex Layout Styles */


body {display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display:flex;
    flex-flow: row wrap;
    flex-direction:row;

}


body > #sheet {-webkit-flex: 3 1 301px;
     flex: 3 1 301px;
    
 }
 
body > article{-webkit-flex: 0 3 160px; 
      flex: 0 3 160px;
 }
 
footer{display:flex; }
/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px) {

img.panel { 
width:100%; }

.horizontal {
   -webkit-order:99;
   order:99;
}

#sheet  footer{
   -webkit-order:100;
   order:100 }
 
}


/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/

@media only screen and (min-width: 481px ) { 




nav.horizontal  ul {display: -webkit-flex;
    display:flex;
    -webkit-flex-flow: row wrap;    
    flex-direction:row;      
    flex-flow: row nowrap;
    height:40px;
}
nav.horizontal > ul >  li {
    display:flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}
 #sheet {display: -webkit-flex;
    display:flex;
    -webkit-flex-flow: row wrap;    
    flex-direction:row;      
    flex-flow: row wrap;
    height:40px; }
    

    
img.panel {display: flex; }    
    
img.size1 { width: 100%; }


img.size2 {flex: 60%; }

 img.size3 {flex: 40%; }

 img.size4 {flex: 30%; }
}