/*
    Luis Ãngel Lucatero Villanueva - A01020507
*/

@charset "utf-8";


/* Fonts */

@font-face {
    font-family: 'Roboto-Light';
    src: url('resources/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('resources/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('resources/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('resources/fonts/OpenSans-Regular.ttf');
}


/* Clean webpage */

html, body {
    width: 100%;
    margin: 0;
}

body {
    background-image: url("resources/images/studio.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Navigation List Styles */

nav {
    position: absolute;
    z-index:100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li.icon {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 28px; /* ancho largo */
    text-decoration: none;
    font-family: Roboto-Light;
    font-size: 0.8em;
}

li a:hover {
    background-color: grey;
}


/* Header Styles */

#content-header {
    width: 100%;
    background-color: white;
    padding-top: 180px;
    padding-bottom: 90px;
}

#content-header > .title {
    font-family: Ubuntu-Regular;
    text-align: center;
    font-size: 4.5em;
    margin: 0;
}

#content-header > .sub-title {
    font-family: OpenSans-Regular;
    text-align: center;
    font-size: 1.2em;
}

#header-break {
    width: 3%;
}

#header-description {
    font-family: Roboto-Light;
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    padding: 20px;
}


/* Grid Style */


div.row::after {
    clear: both;
    content: '';
    display: table;
}

div[class^='col-'] {
    float: left;
}

div.col-1-4 {
    width: 25%;
    position: relative;
}

div.col-1-3 {
    width: 33.33%;
}


/* Portfolio Styles */

div.col-1-4 img {
    width: 100%;
    display: flex;
}


/* Services Styles */

#services {
    width: 70%;
    margin: 80px auto 80px auto;
    padding: 80px;
    background-color: white;
}

#service-box {
    border: 2px solid black; /* width style color*/
    padding: 5px;
    display: inline-block;
    font-family: Ubuntu-Bold;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

#service-box:hover {
    background-color: lightgrey;
    color: white;
}

.service {
    padding: 20px 20px 20px 0px;
}

.service > .s-title {
    font-family: Ubuntu-Bold;
}

.service > .s-description {
    font-family: OpenSans-Regular;
    font-size: 0.9em;
    color: gray;
}

.service:hover {
    background-color: lightgray;
}


/* About Styles */

#about {
    background-color: rgb(83, 82, 82);
    padding: 80px;
}

.a-box {
    padding: 30px;
}

.a-title {
    color: white;
    font-family: Ubuntu-Regular;
    margin: 16px 0px 16px 0px;
}

#a-title {
    color: white;
    font-size: 1.5em;
    font-family: Ubuntu-Regular;
    margin: 10px 0px 16px 0px;
}

.s-title {
    font-family: Ubuntu-Regular;
    font-size: 0.8em;
}

.a-text {
    color: lightgrey;
    font-family: Roboto-Light;
    font-size: 0.8em;
}

.a-footer {
    color: lightgray;
    font-weight: bold;
    font-family: Roboto-Light;
    font-size: 0.9em;
}

.image-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    color: black;
    opacity: 0;
}

span {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image-description:hover {
    opacity: 1;
}